<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/CreateControl.js"></script>
    <title>报表demo</title>
    <style type="text/css">
        html,
        body {
            margin: 0;
            height: 100%;
        }
    </style>
</head>

<body>
    <script type="text/javascript">
        CreateDisplayViewerEx("100%", "100%", "/grf/1a.grf", "/Report/GetReportData", true, "");
    </script>
</body>

</html>